@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

i, a, button {
    cursor: pointer;
}

:root {
    --azul-claro: rgb(11, 184, 227);
    --fundo: radial-gradient(circle at 60% 40%,
    #0d121c 0%,
    #090d15 40%,
    #0b0f17 70%,
    #05070d 100%);
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 40px; /* ajuste conforme altura do header */
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

::selection {
    background: var(--azul-claro);
    color: #000;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #05070d;
}

::-webkit-scrollbar-thumb {
    background: var(--azul-claro);
    border-radius: 10px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    min-height: 100dvh;

    background-image: url(../img/Wallpaper.png);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem 0;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: default;
    transition: color 0.2s ease, background-color 0.2s ease;
}

@media (max-width: 768px) {

    .hero {
        /* Adicionamos um gradiente preto transparente ANTES da imagem */
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.6), 
            rgba(0, 0, 0, 1)
        ), url(../img/Wallpaper.png);
        
        /* Mantemos o ajuste que fizemos para focar no seu rosto */
        background-position: 55% center; 
    }
}